.palavra{
    color: rgb(175, 0, 0);
    font-size: 80px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

h1{
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-family: Georgia;
    font-style: inherit;
}

.cafe{
    color: rgb(53, 0, 0);
}